<hr><br>
<dl class="row">
    <dt class="col-sm-3">Employee UserName :</dt>
    <dd class="col-sm-9"><%= employee.username%></dd>
  
    <dt class="col-sm-3">Employee Branch:</dt>
    <dd class="col-sm-9"><%= employee.branch%></dd>
  
    <dt class="col-sm-3">Employee Role:</dt>
    <dd class="col-sm-9"><%= employee.role%></dd>
</dl>


<div class="accordion" id="accordionExample">
<div class="card">
    <% for (let i=0; i<employee.courses.length; i++) { %>
    <div class="card-header" id="headingOne">
    <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= employee.courses[i].course_package %>" aria-expanded="true" aria-controls="collapseOne">      
            Course Title:<p class="text-uppercase"><%= employee.courses[i].course_title %></p>
        </button>
    </h2>
    </div>

    <div id="<%= employee.courses[i].course_package %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
        Package Number: <%= employee.courses[i].course_package %><br>
        View Detail Lesson: <a href="/courses/<%= employee.courses[i].course_id %>/lessonlist" class="btn btn-secondary"> Click Here </a><br><br>
        View Detail Lesson: <a href="/questions/test" class="btn btn-secondary"> Question Here </a><br>
    </div>
    </div>
    <% } %>
</div>
</div>
<br>
<a href="/users/dashboard" class="btn btn-secondary">Back To User Profile Page</a>

<script> document.title = 'Employee Course List Page' </script>