<br><hr>
<p>Common Course List</p>
<hr>
<% courses.forEach(courses => { %>
    <% if (courses.category ==='Common_Course') { %> 
    <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= courses.package %>" aria-expanded="true" aria-controls="collapseOne">
            Course<%= courses.course_number %>.&nbsp<%= courses.title %>
            </button>
        </h2>
        </div>
        <div id="<%= courses.package %>" class="collapse off" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            Description:&nbsp<%= courses.description %><br>
            Author:&nbsp<%= courses.author%><br>
            Package:&nbsp<%= courses.package %><br>
            <a class="button" href="/courses/<%= courses.id %>/details" class="btn btn-secondary">Course Details</a><br>
        </div>
        </div>
    </div>
    </div>
    <% } %>
<% }) %>

<script> document.title = 'Common Course Pages' </script>