<hr>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Course Category : <%= course.category%></div>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Course Number : <%= course.course_number%></div>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Course Name : <%= course.title%></div>
<p>Course Description : <%= course.description%>
<br>
<% if (user.type === 'admin') { %>
    <td><a href="/courses/<%= course._id%>/lesson/add %>">Add Lesson</a></td>
<% } %></p>

<table class="table table-striped">
    <thead>
        <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Lesson Number</th>
        <th scope="col">Lesson Title</th>
        <th scope="col">View For Detail</th>
        </tr>
    </thead>
    <tbody>
        <!-- <% if (user.type === 'admin') { %>
            <td><a href="/courses/<%= course._id%>/lesson/add %>">Add Lesson</a></td>
        <% } %> -->
        <% for (let i=0; i<course.lessons.length; i++) { %>
        <tr>
        <!-- <th scope="row"><%= [i+1] %></th> -->
        <td><%= course.lessons[i].lesson_number %></td>
        <td><%= course.lessons[i].lesson_title %></td>
        <td><a href="/courses/<%= course._id%>/lesson/<%= course.lessons[i]._id %>">View</a></td>
        </tr>
        <% } %>
    </tbody>
</table>
<br>
<a href="/<%= user.type %>s/<%= user.username %>/classes" class="btn btn-secondary">Back To Course List</a>

<script> document.title = 'Lesson List Pages' </script>