<hr><br>
<dl class="row">
    <dt class="col-sm-3">Manager UserName :</dt>
    <dd class="col-sm-9"><%= manager.username%></dd>
  
    <dt class="col-sm-3">Manager Branch:</dt>
    <dd class="col-sm-9"><%= manager.branch%></dd>
  
    <dt class="col-sm-3">Manager Role:</dt>
    <dd class="col-sm-9"><%= manager.role%></dd>
</dl>

<div class="accordion" id="accordionExample">
<div class="card">
    <% for (let i=0; i<manager.courses.length; i++) { %>
    <div class="card-header" id="headingOne">
    <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= manager.courses[i].course_package %>" aria-expanded="true" aria-controls="collapseOne">      
            Course Title:<p class="text-uppercase"><%= manager.courses[i].course_title %></p>
        </button>
    </h2>
    </div>

    <div id="<%= manager.courses[i].course_package %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
        Package Number: <%= manager.courses[i].course_package %><br>
        View Detail Lesson: <a href="/courses/<%= manager.courses[i].course_id %>/lessonlist" class="btn btn-secondary"> Click Here </a><br>
    </div>
    </div>
    <% } %>
</div>
</div>
<br><br>
<a href="/users/dashboard" class="btn btn-secondary">Back To User Profile Page</a>

<script> document.title = 'Manager Course List Page' </script>